.organigrama {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-content: space-around;
}

.apice, .linea-media, .staff-apoyo, .tecnoestructuras, .unidades-negocio {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.titulo {
    font-weight: bold;
}

.contenido ul {
    list-style-type: none;
    padding: 0;
}

.contenido ul li {
    margin-bottom: 5px;
}
